*{
	font-family: 'Poppins',sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.cards{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center ;
	margin: 0px auto;
}
.cards .product{
	width: 100%;
	margin-top: 30px;
}
.cards .product h1{
	text-align: center;
	font-size: 45px;
	color: 50px;
	text-transform: uppercase;
	font-weight: 700;
	color: #1c2e4a;
	letter-spacing: 1px;
}
.cards .product h1:after{
	content: "";
	height: 5px;
	width: 300px;
	background-color: #2f2f2f;
	border-radius: 5px;
	display: block;
	margin: auto;
	margin-top: 5px;
}

.card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 2px 4px rgb(0,0,0,25%);
	width: 270px;
	text-align: center;
	margin: 50px 20px;
	cursor: pointer;
	background-color: #fff;
}
.image-section{
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.image-section img{
	width: 90%;
	height: 200px;
}
.discription{
	text-align: center;
	margin-top: 20px;

}
.discription h1{
	font-size: 22px;
	letter-spacing: 2px;
	color: #2f2f2f;
}
.discription p{
	font-size: 17px;
	letter-spacing: 1.5px;
	margin-top: 10px;
}
.discription span{
	margin-left: 8px;
}
.discription del{
	margin-left: 8px;
	font-size: 15px;
	color: #f2533a;
}
.button{
    margin: 30px 0px;
}
.button .buy{
	background-color: #1c2e4a;
	font-size: 14px;
	padding: 8px 20px;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #fff;
}
.button .buy:hover{
	background-color: #528AAE;
	transition: 0.6s ease;
}
.button .Cart{
	background-color: #F09030;
	font-size: 14px;
	padding: 8px 20px;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #222;
}
.button .Cart:hover{
	background-color: #FDB064;
    transition: 0.6s ease;
} 


