<!DOCTYPE html>
<link rel="stylesheet" href="/static/category.css" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
       $(document).ready(function(){
       $('select').formSelect();
       });
   </script>
    <script src="/static/project.js"></script>
    <meta charset="UTF-8">
    <title>List Of Products</title>
</head>
<body>
<div class="maincontainer">
    <div class="box1" style="padding:20px;">
        <div class="boxheading">
            <span style="display:flex;width: 70%;"><a href="http://localhost:8000/productinterface/"><i class="material-icons prefix" style="color: #FFFF; padding: 5px;">add_box</i></a></span>
            <span class="headingtext" style="display: flex; width:110%;">Product List</span>
        </div>
<table class="striped" cellpadding="2" cellspacing="">
     <thead>
        <tr>
            <th>Product Id</th>
            <th>Category</th>
            <th>SubCategory</th>
            <th>Brand</th>
            <th>product Name</th>
            <th>Packing Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Offer Price</th>
            <th>Rating</th>
            <th>Status</th>
            <th>Sale Status</th>
            <th>Product Image</th>
            <th>Update</th>
          </tr>
     </thead>
    <tbody>
    {% for row in records %}
    <tr>
        <td>{{row.productid}}</td>
        <td>{{ row.cname }}/{{row.categoryid}}</td>
        <td>{{ row.scname }}/{{ row.subcategoryid }}</td>
        <td>{{row.bname}}/{{row.brandid}}</td>
        <td>{{row.productname}}</td>
        <td>{{row.packingtype}}</td>
        <td>{{row.quantity}}</td>
        <td>{{row.price}}</td>
        <td>{{row.offerprice}}</td>
        <td>{{row.rating}}</td>
        <td>{{row.status}}</td>
        <td>{{row.salestatus}}</td>
        <td><img src="/static/{{ row.productimg }}" class="imgbtn" productid="{{row.productid}}" productimg="{{row.productimg}}" width="40"/></td>
        <td><a class="waves-effect waves-light btn modal-trigger editdltbtn" cid="{{row.categoryid}}" cname="{{row.cname}}" scid="{{row.subcategoryid}}" scname="{{row.scname}}" bid="{{row.brandid}}" bname="{{row.bname}}" pid="{{row.productid}}" pname="{{ row.productname }}" ptype="{{ row.packingtype }}" quant="{{ row.quantity }}"
                                pr="{{ row.price }}" opr="{{ row.offerprice }}" ratin="{{ row.rating }}" stat="{{ row.status }}" sstat="{{ row.salestatus }}" href="#modal1">Edit/Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
          <input type="hidden" id="productid">
          <input type="hidden" id="brid">
          <input type="hidden" id="subid">
              <div class="modelbox">
                  <div class="boxheading">
                      <span class="headingtext"> Product Interface</span>
                  </div>
                  <div>
                      <div class="row">
                           <div class="input-field col s4 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <select id="categoryid" name="categoryid">
                                   <option value="" disabled selected >Choose your option</option>
                               </select>
                               <label>Select Category Id</label>
                           </div>
                           <div class="input-field col s4 ">
                             <i class="material-icons prefix">add_shopping_cart</i>
                             <select id="subcategoryid" name="subcategoryid">
                                <option value="" disabled selected>Choose your option</option>
                             </select>
                               <label>Select SubCategory Id</label>
                           </div>
                           <div class="input-field col s4 ">
                              <i class="material-icons prefix">add_shopping_cart</i>
                              <select id="brandid" name="brandid">
                                 <option value="" disabled selected>Choose your option</option>
                              </select>
                                <label>Select Brand Id</label>
                           </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s4 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <select id="packingtype" name="packingtype">
                                   <option value="" disabled selected>Choose your option</option>
                                   <option >Box</option>
                                   <option >Strip</option>
                                   <option >Sachets</option>
                                   <option >Injections</option>
                                   <option >Syrups</option>
                               </select>
                              <label>Select Packing Type</label>
                          </div>
                          <div class="input-field col s4 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <select id="status" name="status">
                                   <option value="" disabled selected>Choose your option</option>
                                   <option value="Top">Top</option>
                                   <option value="Trending">Trending</option>
                                   <option value="Popular">Popular</option>
                                   <option value="Discontinue">Discontinue</option>
                               </select>
                              <label>Select Status</label>
                          </div>
                          <div class="input-field col s4 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <select id="sale" name="sale">
                                   <option value="" disabled selected>Choose your option</option>
                                   <option value="continue">Continue</option>
                                   <option value="discontinue">Discontinue</option>
                               </select>
                              <label>Select Sale Status</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <input required id="productname" name="productname" type="text" class="validate">
                               <label for='productname'>Product Name</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s3 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <input required id="qty" name="qty" type="text" class="validate">
                               <label for='qty'>Quantity</label>
                          </div>
                          <div class="input-field col s3 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <input required id="price" name="price" type="text" class="validate">
                               <label for='price'>Price</label>
                          </div>
                          <div class="input-field col s3 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <input required id="offerprice" name="offerprice" type="text" class="validate">
                               <label for='offerprice'>Offer Price</label>
                          </div>
                          <div class="input-field col s3 ">
                               <i class="material-icons prefix">add_shopping_cart</i>
                               <input required id="rating" name="rating" type="text" class="validate">
                               <label for='rating'>Rating</label>
                          </div>


                      </div>



<!--                      Edit/dlt button-->
<!--                 Row for Button-->

                      <div class="row">
                          <div class="col s6 btnrow">
                             <button class="btn waves-effect waves-light btnstyle editbtn" type="button">Edit
                                 <i class="material-icons right">edit</i>
                             </button>
                          </div>

                          <div class="col s6 btnrow">
                             <button class="btn waves-effect waves-light btnstyle " type="button" id="delbtn">Remove
                                 <i class="material-icons right">delete</i>
                             </button>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col s12 btnrow">
                              <div id="message" class="msgstyle"></div>
                          </div>
                      </div>
                  </div>
               </div>
        <div class="modal-footer" style="margin: -14px;">
      <a href="#!" class="closebtn waves-effect waves-green btn-flat">Close</a>
    </div>
    </div>
  </div>


   <!-- Modal Structure for Picture -->
   <div id="modal2" class="modal" style="width:300px; height: auto; display: none;justify-content: center">
     <div class="modal-content">
         <div>
             <input type="hidden" id="icon_bid">
             <center><img id="icon" width="80px"></center>
         </div>
             <div><b>Select New Picture:</b></div>
             <div>
                <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input required type="file" id="newicon">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                </div>
                 <button class="btn waves-effect waves-light iconbtn" type="button" >Edit Icon
                     <i class="material-icons right">edit</i>
                 </button>
                 <a href="#!" class="closebtnicon waves-effect waves-green btn-flat">Close</a>
             </div>
         </div>
       <div class="row">
           <div class="col s12 btnrow">
               <div id="iconmessage" class="msgstyle"></div>
           </div>
       </div>
   </div>

</body>







<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
</script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
         $(document).ready(function(){
            $('#modal1').modal();
            $('#modal2').modal();
            $('#productname').val(' ')
            $('#rating').val(' ')
            $('#price').val(' ')
            $('#offerprice').val(' ')
            $('#qty').val(' ')

                <!--EDIT DELETE BTN-->

           $('.editdltbtn').click(function(){
               $('#categoryid').val($(this).attr('cid'))
               alert($(this).attr('ptype'))
               $('#subid').val($(this).attr('scid'))
               $('#brid').val($(this).attr('bid'))
<!--               alert($(this).attr('scid'))-->

                $.getJSON('http://localhost:8000/fetch_all_subcategory_json',{categoryid: $('#categoryid').val()},function(data){
                        var records=data.data
                        records.map((item)=>{
                        $('#subcategoryid').append($("<option>").text(item.subcategoryname).val(item.subcategoryid))
                         })
                        $('#subcategoryid').val($('#subid').val())
                        $('select').formSelect();
                })

                $.getJSON('http://localhost:8000/fetch_all_brand_json',{subcategoryid: $('#subcategoryid').val()},function(data){
                        var records=data.data
                        records.map((item)=>{
                        $('brandid').append($("<option>").text(item.brandname).val(item.brandid))
                         })
                         alert("Welcome")
                        $('#brandid').val($('#brid').val())
                        $('select').formSelect();
                })

               $('#productid').val($(this).attr('pid'))
               $('#productname').val($(this).attr('pname'))
               $('#packingtype').val($(this).attr('ptype'))
               $('#qty').val($(this).attr('quant'))
               $('#price').val($(this).attr('pr'))
               $('#offerprice').val($(this).attr('opr'))
               $('#rating').val($(this).attr('ratin'))
               $('#status').val($(this).attr('stat'))
               $('#sale').val($(this).attr('sstat'))
               $('select').formSelect()
            })
            $('.editbtn').click(function(){
                $.getJSON('http://localhost:8000/editproduct',{productid:$('#productid').val(),productname:$('#productname').val(),qty:$('#qty').val()},function(data){
                   if(data.result)
                   {$('#message').html('Product Edited Successfully.....')}
                   else
                   {$('#message').html('Faild to Edited Product.......')}
                })
             })
            $('#delbtn').click(function(){
<!--            alert($('#brandname').val())-->
              $.getJSON('http://localhost:8000/deletebrand',{brandid:$('#brandid').val()},function(data){
                if(data.result)
                {$('#message').html('Product Deleted Successfully........')}
                else
                {$('#message').html('Faild to Deleted Product............')}
              })
            })
            $('.closebtn').click(function(){
              $('#modal1').modal('close')
              window.location.reload('http://localhost:8000/showallproduct/')
            })

            <!--EDIT DELETE BTN CLOSE-->


            $('.closebtnicon').click(function(){
              $('#modal1').modal('close')
              window.location.reload('http://localhost:8000/showallproduct/')
            })

            $('.imgbtn').click(function(){
                $('#icon_pid').val($(this).attr('productid'))
               $('#modal2').modal('open')
               $('#icon').attr('src',`/static/${$(this).attr('productimg')}`)
            })
        });
$('.iconbtn').click(function(){
            var formData=new FormData()
            formData.append('productid',$('#icon_pid').val())
            var file=$('#newicon')[0].files
            if(file.length>0)
              formData.append('productimg',file[0])
            $.ajax({
                       url:'/editproductimg',
                       headers:{
                       'X-CSRFToken':'{{csrf_token}}'
                       },
                       type:'post',
                       data: formData,
                       contentType: false,
                       processData: false,
                       success: function(response){
                               if(response!=0){

                                {$('#iconmessage').html('Icon Edited Successfully.....')}
                               }
                               else{
                                 {$('#iconmessage').html('Fail to Edit Icon.....')}
                               }
                       }
            })


})
</script>
</html>