<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/static/category.css">
    <meta charset="UTF-8">
    <title>User Interface MedAssist</title>
</head>
<body>
 <div class="row">
		 <div class="col-md-12" style="margin-top:50px;"><hr ></div>
    </div>
     <div style="display:flex; flex-direction:row;" class="col">
		<div style="padding-left:36px;">
			<img width="25%" src="/static/medassist_logo.png">
		</div>
		<div class="footer-textArea">
			<p>Netmeds.com is one of India’s most trusted pharmacies, dispensing quality medicines at reasonable prices to over 7 million happy customers – PAN India.</p>
		</div>

	</div>
	<div class="row">
    	<div class="col-md-12"><hr></div>
    </div>
	<div class="footer-container" style="display: flex; justify-content: space-between;box-sizing:border-box; margin:0px 20px;">
		  <ul class="ul">
			<li style="font-weight:bold;">Company</li>
			<li>About Netmeds</li>
			<li>Customers Speak</li>
			<li>In the News</li>
			<li>Terms and Conditions</li>
			<li>Privacy Policy</li>
			<li>Contact</li>
		  </ul>
		  <ul class="ul">
			<li style="font-weight:bold;">SHOPPING</li>
			<li>Browse by Manufacturers</li>
			<li>Health Articles</li>
			<li>Offers / Coupons</li>
			<li>FAQs</li>
		  </ul>
		  <ul class="ul">
			<li style="font-weight:bold;">CATEGORIES</li>
			<li>Ayush</li>
			<li>Devices</li>
			<li>Family Care</li>
			<li>Fitness</li>
			<li>Lifestyle</li>
			<li>Personal care</li>
			<li>Treatments</li>
		  </ul>
		  <ul class="ul">
			<li style="font-weight:bold;">SOCIAL</li>
			<li>Patients Alike</li>
			<li>Facebook</li>
			<li>Twitter</li>
			<li>LinkedIn</li>
			<li>Youtube</li>
			<li>Refer & Earn</li>
		  </ul>
		  <div class="subscribe">
		  	<h6 style="font-weight:bold">SUBSCRIBE TO OUR NEWSLETTER</h6>
		  	<p style="font-size: 15px;">Get a free subscription to our health and fitness tip and  stay tuned to our latest offers</p>
		  		<div class="input-field"style="width: 250px;display: flex; flex-direction: row;">
                   <input id="email" type="text" class="validate" placeholder="E-mail" width="20px">
                   <button class="gobtn" type="submit" title="Go">Go</button>
                </div>
                <div style="display:flex; flex-direction: row;">
                	<img src="	https://www.netmeds.com/assets/gloryweb/images/icons/play_store.png" width="40%;">
                	<img src="	https://www.netmeds.com/assets/gloryweb/images/icons/app_store.png" width="40%">
                </div>
		  </div>
    </div>
    <div class="row">
    	<div class="col-md-12"><hr></div>
    </div>
    <div class="footer-container" style="display: flex; justify-content: space-between;box-sizing:border-box; margin:0px 20px;">
    	<h6>Wellness</h6>
    	<h6>Lab Tests</h6>
    	<h6>Beauty</h6>
    	<h6>Consult a Doctore</h6>
    	<h6>Generic Medicine</h6>
    	<h6>Store near you</h6>
    	<h6>Copyright© 2023 Netmeds Marketplace Ltd.</h6>

    </div>
</body>
</html>